@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  /*margin: 0;*/ /*para sacar margenes y padding que pone solo el navegador, sirve para ponerlo todo como uno quiere*/
  /*padding: 0;*/ /*para sacar margenes y padding que pone solo el navegador, sirve para ponerlo todo como uno quiere*/
}
/* header */

.header-container-top{
  background-color: #222222;
  color: #F3F3F3;
  font-family: 'Roboto', sans-serif; /* si no llega a cargar, utiliza esta*/
  font-size: 10px;
}

.header-lista{
  list-style: none;
}

.header-container-bottom{
  background-color: #F0A83E;
}
.logo{
  font-weight: bold;
  color: #FFFFFF;
  font-size: 20px;
}

.texto-logo-top{
  color: #3C2313;
  font-weight: bold;
  font-size: 20px;
}

.nav-lista{
  list-style: none;
  color: #FFFFFF;
  font-size: 13px;
}

/* main */

.bienvenida{
  margin-top: 50px;
  padding: 22px;
  text-align: center;
}